<!DOCTYPE html>

<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta namde="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
		<!-- Leaflet CSS -->
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
					integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
					crossorigin=""/>
		<!-- Twitter Widgets -->
		<script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		<!-- JQuery -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
				<!-- custom CSS -->
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
		<title>Bird's Eye Tweets</title>
	</head>
	<body>
		<div class="container-fluid p-5">
			<div class="row">
				<div class="col-md-3">
					<div class="row">
						<div class="col-md-4">
							<img class="img-fluid mx-auto" id="logo" src="../static/imgs/twitter4.png" alt="logo">
						</div>
						<div class="col-md-8">
							<h2>Bird's Eye Tweets</h2>
						</div>
					</div>
					<hr>
					<form action="/submit" method="post">
						<div class="form-group">
							<label for="number"><strong>Number of Results: </strong></label>
							<select class="form-control custom-select" name="number" id="number">
								<option value="5">5</option>
								<option value="15">15</option>
								<option value="25">25</option>
								<option value="50">50</option>
							</select>
						</div>
						<div class="form-group">
							<label for="lang"><strong>Language(s): </strong></label>
							<select multiple class="form-control custom-select" name="lang" id="lang">
								<option value="en">English</option>
								<option value="ja">Japanese</option>
								<option value="es">Spanish</option>
								<option value="pt">Portuguese</option>
								<option value="ar">Arabic</option>
							</select>
						</div>
						<div class="form-group">
							<label for="options"><strong>Map View: </strong></label>
							<div class="btn-group btn-group-toggle" data-toggle="buttons">
							  <label class="btn btn-light" id="mapbox.streets">
							    <input type="radio" name="options" checked> Street
							  </label>
							  <label class="btn btn-light" id="mapbox.satellite">
							    <input type="radio" name="options"> Satellite
							  </label>
							</div>
						</div>
						<div class="form-group text-center">
							<button class="btn btn-primary" type="submit">Fetch Tweets</button>
						</div>
					</form>
					<div id="tweets" style="display: none">
						<p class="py-5">Click a marker to view a tweet!</p>
					</div>
				</div>
				<div id="mapid" class="col-md-9"></div>
			</div>
		</div>
		<footer class="small text-center text-muted">
			Data provided for free by <a href="https://developer.twitter.com">Twitter</a>.
			View <a href="https://developer.twitter.com/en/developer-terms">Twitter's Developer Terms of Use</a>.
		</footer>
	</body>
	<!-- Script to retain selections after submit -->
	<script>
	  {% block select %}{% endblock %}
	</script>
	<!-- Leaflet JS -->
	<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
					integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
					crossorigin="">
	</script>
	<!-- Custom script using Leaflet.js to render map -->
	<script src="../static/map.js"></script>

	<script>
	  // Insert script to render map markers on submit
	  {% block map %}{% endblock %}
	</script>
</html>
